body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: cadetblue;
  color: white;
  margin: 50px;
}

#nav-bar {
  margin-left: 25%;
  margin-right: 25%;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(70, 142, 175);  
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

#nav-bar a {
  text-decoration: none;
  color: white;
}

#nav-bar a:visited {
  /* display: flex;
  justify-content: space-evenly; */
  color: white;
  background-color: red;
  text-decoration: none;

}

/* QUAKE INFO */

.quake-info {
  padding: 50px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: justify;
  align-items: flex-start; 
  background-color: rgb(70, 142, 175);
}

.quake-info p {
  text-align: justify;
  padding-right: 40px;
}

.header2 {
  color: rgb(177, 227, 250);
  font-weight: bold;
  font-size: 25px;  
}

/* SAFETY INFO */
.safety-info {
  color: white;
}

.safety-info h1 {
  color: rgb(6, 28, 75);
}

.safety-info h2 {
  color: rgb(6, 28, 75);
}

/* HISTORY INFO */
.history-info {
  padding: 50px;
  margin: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: justify;
  align-items: flex-start; 
  background-color: rgb(70, 142, 175);
}

.historical-map-container {
  margin-left: 50px;
  color: black;
}

.main-map-container {
  display: flex;
  flex-direction: column;
  padding: 80px;
  align: center;
  margin: 40px;
  color: black;
  background-color: rgb(70, 142, 175);
}