body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: cadetblue;
  color: white;
  margin: 40px;
  text-align: justify;
}

body a {
  color: rgb(147, 240, 247);
}

/* HEADER IMAGE  */
.header-image {
display: block;
margin-left: auto;
margin-right: auto;
}

/* HEADINGS */

.header1 {
  /* color: rgb(177, 227, 250); */
  color: black;
  font-weight: bold;
  font-size: 40px;  
  text-align: center;
  margin-bottom: 0px;
  margin-top: 20px;
}

.header2 {
  color: rgb(177, 227, 250);
  font-weight: bold;
  font-size: 35px;
  text-align: left;
  margin-bottom: 0px;
  margin-top: 0px;
}

.header3 {
  color: rgb(177, 227, 250);
  font-weight: bold;
  font-size: 25px;  
}

/* NAVIGATION */
#nav-bar {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(70, 142, 175);  
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  list-style-type: none;
}

#nav-bar a {
  text-decoration: none;
  color: white;
}

#nav-bar a:visited {
  color: white;
  text-decoration: none;
}

#nav-bar a:hover {
  color: black;
}

/* QUAKE INFO */
.quake-info-container {
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start; 
  background-color: rgb(70, 142, 175);
}

.quake-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
}

/* MAIN MAP */
.main-map-container {
  margin-left: 40px;
  width: 50%;
  color: white;
}

/* SAFETY INFO */
.safety-info {
  color: white;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: justify;
  align-items: flex-start; 
  background-color: rgb(70, 142, 175);
}

.safety-info h1 {
  color: rgb(6, 28, 75);
}

.safety-info h2 {
  color: rgb(6, 28, 75);
}

/* HISTORY INFO */
.history-info-container {
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: justify;
  align-items: flex-start; 
  background-color: rgb(70, 142, 175);
}

.history-info {
  width: 50%;
}

/* HISTORY MAP */
.historical-map-container {
  width: 50%;
  margin-left: 50px;
  color: white;
}

/* CHARTS */

.chart-box {
  padding: 50px;
  margin: 40px;
  display: column;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: justify;
  align-items: flex-start; 
  background-color: rgb(70, 142, 175);
}